@charset "utf-8";
/* CSS Document */

#wrapper {
	width: auto;
	margin: auto auto;
}
#content {

}
body {
	background-color:#231f20;
	color: #FFF;
}
#logos {
	text-align: center;
	background-color:#FFF;
}
h1,h2,h3{
	text-align:center;
	padding: 5px;
	margin: 0px;
}

/* ~~ The footer ~~ */
#footer {
	padding-bottom: 0em;
	left: 0;
	height: 1.3em;
	border: 2px  solid #666;
	font-size: 90%;
	background: #111;
	text-align: center;
	color: #FFFFFF;
	padding-left: 20px;
}

table td, table th {
	padding: 5px;
}

#table {display: table;
	width: 100%;
	table-layout:fixed;
	border: 1px;
	text-align:center;
	vertical-align:middle;
}
table tr{
	vertical-align:middle;
}
#table_status {
	display: table;
	width: 75%;
	border-collapse: collapse;
	table-layout:fixed;
	font-size: 200%;
	text-align: center;
	padding: 5px 10px 10px 5px;
	margin-left:auto;
	margin-right:auto;
}
#table_avgs {
	display: table;
	width: 90%;
	border-collapse: collapse;
	table-layout:fixed;
	text-align:center;
	padding: 5px;
	margin-left:auto;
	margin-right:auto;
}
#table_errors {
	display: table;
	width:90%;
	border-collapse: collapse;
	table-layout:fixed;
	text-align:center;
	padding: 5px;
	margin-left:auto;
	margin-right:auto;
}
#table_summary {
	display: table;
	width: 25%;
	border-collapse: collapse;
	table-layout:fixed;
	text-align:center;
	padding: 5px;
	margin-left:auto;
	margin-right:auto;
}
#table_status td, #table_summary td {
		border: 2px  ridge #066;
}
.heading {
	font-size: 200%;
	text-align: center;
	color:#FFFFFF;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
.center {
	text-align:center;
}
img {
	vertical-align:middle;
	padding-right: 20px;
}
.green
{
	background-color: #00FF00;
	color: #000;
}
.red
{
	background-color: #FF0000;
	color: #000;
}
.amber
{
	background-color: #FF9900;
	color: #000;
}
.black
{
	background-color: #000000;
	color: #FFFFFF;
}
.blue
{
	background-color: #000088;
	color: #FFFFFF;
}
.big
{
	font-size:280%;
}
.med
{
	font-size:180%;
}
.vm {
	vertical-align:middle;
}

/* Tablet 1280x800 resolutions */
@media only screen and (device-width: 800px) and (orientation:portrait) and (orientation: portrait){
	.big
	{
		font-size:100%;
	}
	.med
	{
		font-size:80%;
	}
	#table_avgs, #table_status, #table_errors, #table_summary  {
		margin: 10px;
		font-size:100%;
		width: 100%;
	}
}
@media only screen and (device-width: 1280px) and (orientation:landscape) { 
	.big
	{
		font-size:120%;
	}
	.med
	{
		font-size:90%;
	}
	#table_avgs, #table_status, #table_errors, #table_summary  {
		font-size:130%;
		width: 100%;
	}
}

/* Tablet 1024x768 resolutions = iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	.big
	{
		font-size:100%;
	}
	.med
	{
		font-size:80%;
	}
	#table_avgs, #table_status, #table_errors, #table_summary  {
		font-size:100%;
		width: 100%;
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {	
	.big
	{
		font-size:120%;
	}
	.med
	{
		font-size:90%;
	}
	#table_avgs, #table_status, #table_errors, #table_summary {
		font-size:130%;
		width: 100%;
	}
}

